.contenedor {
	display: flex;
	flex-direction: wrap;
	background: black;
	height: auto;
	border: 3px solid red
	;
}
.contenedor2 {
	display: flex;
	flex-direction: wrap;
	height: auto;
}
.caja {
	width: 100%;
	background: red;
	border: 1px solid white;
}


@media (max-width: 320px) {
	.caja {
		background: blue;
		border: 1px solid white;
	}
	.contenedor {
	display: flex;
	flex-direction: column;
	background: black;
	height: auto;
}
.contenedor2 {
	display: flex;
	flex-direction: column;
	height: auto;
}
}